################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncryptApp/obj
/EncryptApp/bin
/.vs
/EncryptMethods/bin
/EncryptMethods/obj
